 body {
     font-family: 'Lato', sans-serif;
 }

 .banner {
     display: flex;
     background-color: rgba(229, 84, 115, 0.10);
     align-items: center;
     position: relative;
 }

 .banner-description {
     margin-left: 200px;
 }

 .banner-title {
     color: #272727;
     font-family: Lato;
     font-size: 60px;
     font-style: normal;
     /* font-weight: 700px; */
     max-width: 808px;
     line-height: normal;
 }

 .shopnow-btn {
     border-radius: 8px;
     background: #E55473;
     color: rgba(255, 255, 255, 1);
     padding: 20px 43px;
     color: #FFF;
     font-family: Lato;
     font-size: 20px;
     font-style: normal;
     font-weight: 800px;
     line-height: normal;
     border: none;

 }

 .top-flower {
     width: 635px;
     height: 750px;
     padding: 50px 140px 0px;
 }

 /* featured section start  */
 .feature-part {
     padding: 48px 300px;
     margin: 0px 240px;
 }

 .feature-text {
     text-align: center;
 }

 .feature-flowers {
     padding-top: 30px;
     padding-left: 200px;
     padding-right: 200px;

 }

 .feature-images {
     display: flex;
     justify-content: space-evenly;
     gap: 20px;


 }

 .feature-img-1 {
     border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);
     padding: 100px 50px 0px;
     height: 360px;
     width: 250px;
 }

 .feature-img-2 {
     border-radius: 300px 300px 0px 0px;
     background: rgba(5, 151, 160, 0.15);
     padding: 110px 70px 0px;
     height: 350px;
     width: 230px;
 }

 .feature-img-3 {
     border-radius: 300px 300px 0px 0px;
     background: rgba(71, 125, 17, 0.15);
     padding: 110px 70px 0px;
     height: 350px;
     width: 260px;
 }

 .img-name {
     display: flex;
     justify-content: space-evenly;

 }

 .img-1 {
     margin-bottom: 0%;
     height: 350px;
     width: 240px;
 }

 .div-1 {
     text-align: center;
     width: 380px;
     height: 400px;
     padding-bottom: 100px;

 }

 /* featured section end  */
 /* serveices section start  */
 .service {
     border-radius: 8px;
     background: rgba(39, 39, 39, 0.05);
     margin: 128px 240px;
 }

 .services {
     display: flex;
     justify-content: space-around;
     padding: 86px;
 }

 .delivery {
     text-align: center;
 }

 /* service end  */

 /* middle part  */
 .middle-part {
     display: flex;
     border-radius: 8px;
     background: rgba(229, 84, 115, 0.05);
     margin-top: 128px;
     align-items: center;
     padding: 100px;
     justify-content: space-evenly;
 }

 .middle-flower {
     width: 318px;
     height: 420px;
     flex-shrink: 0;
     justify-content: space-around;


 }

 .middle-text {
     text-align: center;
     justify-content: center;
 }

 .middle-part-title {
     color: #272727;
     font-family: Lato;
     font-size: 40px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
 }

 .middle-part-descrition {
     width: 594px;
 }


 /* middle part end  */
 /* insta part start  */
 .instagram {
     text-align: center;
 }

 .insta-title {
     color: #272727;
     text-align: center;
     font-family: Lato;
     font-size: 40px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
 }

 .insta-images {
     display: flex;
     gap: 24px;
     /* margin: 48px 240px 128px; */

     justify-content: center;
 }

 .middle-img {
     width: 300px;
     height: 350px;
 }

 /* insta part end  */
 /* deal part start  */
 .deal-section {

     align-items: center;
     justify-content: center;
     padding: 150px;
 }

 .deal {
     width: 1240px;
     height: 449px;
     background-image: url("../Rectangle\ 9.png");
     text-align: center;


 }

 .deal-text {
     padding-top: 122px;
 }

 .input-field {
     width: 700px;
     height: 64px;
     border-radius: 8px;
     background: #FFF;
     border: none;
     padding-left: 20px;
 }

 /* footer section  */
 footer {
     background-color: #272727;
     color: whitesmoke;
     text-align: center;

     padding: 128px;

 }

 span {
     color: rgba(229, 84, 115, 1);
 }